<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>320582145869-rvjeukdl8cic7n6db62q76lg3ab3tjjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320582145869-rvjeukdl8cic7n6db62q76lg3ab3tjjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDFxhPfSu8TCnKePiDZbRmcUx6K1PvJbFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>320582145869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aadityanarvekar.Social-Networking</string>
	<key>PROJECT_ID</key>
	<string>social-application-84c74</string>
	<key>STORAGE_BUCKET</key>
	<string>social-application-84c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:320582145869:ios:c49d646d1a666f91</string>
	<key>DATABASE_URL</key>
	<string>https://social-application-84c74.firebaseio.com</string>
</dict>
</plist>